body{
    background-color: #f3e6d4;
    color:#020302;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.s1{
    display:flex;
    justify-content: center;
    margin: 15px;
}
.s2{
    font-size: large;
    font-family: "Jersey 10", sans-serif;
}